<footer>
    <div class="footer-area-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-box">
                        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active"><img class="img-responsive" src="assets/img/bkap.png" alt="logo"></a>
                        <div class="footer-about">
                            <p>BÁCH KHOA - APTECH là đơn vị chuyên đào tạo ngành CNTT theo chuẩn Quốc tế - Aptech Ấn Độ đầu tiên tại Việt Nam.</p>
                        </div>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="footer-box">
                      <div class="newsletter-area">
                          <h3>Đăng ký nhận Email</h3>
                          <div class="input-group stylish-input-group">
                              <input type="text" placeholder="Nhập email của bạn" class="form-control">
                              <span class="input-group-addon">
                                  <button type="submit">
                                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                  </button>
                              </span>
                          </div>
                      </div>
                  </div>
              </div> -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-box">
                        <h3>Liên hệ</h3>
                        <ul class="corporate-address">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">Tòa nhà HTC, 236B & 238 Hoàng Quốc Việt, Từ Liêm, Hà Nội.</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">0968.27.6996 / 024 3755 4010</a></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i>tuyensinh@bachkhoa-aptech.edu.vn</li>
                        </ul>
                        <div class="newsletter-area">
                            <h3>Đăng ký nhận Email</h3>
                            <div class="input-group stylish-input-group">
                                <input type="text" placeholder="Nhập email của bạn" class="form-control">
                                <span class="input-group-addon">
                                      <button type="submit">
                                          <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                      </button>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="footer-box">
                        <h3>Bản đồ</h3>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1031.6996424055728!2d105.78288637461966!3d21.046437696911585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab3b4220c2bd%3A0x1c9e359e2a4f618c!2sB%C3%A1ch+Khoa+Aptech!5e0!3m2!1svi!2sus!4v1509699609675"
                                frameborder="0" style="border:0;width:100%;height:220px;" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p>&copy; 2019 Website được bảo vệ bản quyền. &nbsp; Thiết kế bởi<a target="_blank" href="http://bachkhoa-aptech.edu.vn/"> Bách Khoa - Aptech</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End Here -->