<!-- Inner Page Banner Area Start Here -->
<div class="news-details-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <h1 class="text-uppercase">Thông tin cá nhân</h1>
                    </mat-toolbar-row>
                </mat-toolbar>
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                <div class="side-bar-info">
                                    <img mat-card-image style="width: 150px; height: 150px; cursor:pointer" [src]="imgURL">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td>Mã sinh viên:</td>
                                            <td>{{ students.Code }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tên:</td>
                                            <td>{{ students.Name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>{{ students.Email }}</td>
                                        </tr>
                                        <tr>
                                            <td>Số điện thoại:</td>
                                            <td>{{ students.Phone }}</td>
                                        </tr>
                                        <tr>
                                            <td>Lớp:</td>
                                            <td>{{ students.ClassName }}</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ:</td>
                                            <td>{{ students.Address }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ngày sinh:</td>
                                            <td>{{ students.Birthday | date: 'dd/MM/yyyy' }}</td>
                                        </tr>
                                        <tr>
                                            <td>Giới tính:</td>
                                            <td *ngIf="students.Gender == 1">Nam</td>
                                            <td *ngIf="students.Gender == 0">Nữ</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" style="text-align: right">
                                                <div>
                                                    <a type="button" style="margin: 8px;" [routerLink]="['/sinh-vien/sua-thong-tin']" routerLinkActive="router-link-active" class="btn btn-primary">Sửa thông tin</a>
                                                    <a type="button" [routerLink]="['/trang-chu']" routerLinkActive="router-link-active" class="btn btn-primary">Quay lại trang chủ</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="sidebar">
                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <h3 class="sidebar-title" style="text-transform: uppercase">danh mục</h3>
                            <ul class="sidebar-categories">
                                <li><a [routerLink]="['/sinh-vien/doi-mat-khau']" routerLinkActive="router-link-active">Đổi mật khẩu</a></li>
                                <li><a href="#">Xem điểm</a></li>
                                <li><a href="#">Số buổi đi học/ nghỉ học</a></li>
                                <li><a href="#">Xem lịch học</a></li>
                                <li><a href="#">Xem lịch thi/ bảo vệ project</a></li>
                                <li><a href="#">Đăng ký thi lại</a></li>
                                <li><a href="#">Thông tin học phí</a></li>
                                <li><a href="#">Xin phép nghỉ học</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End Here -->
