<!-- Event Page Area Start Here -->
<div class="event-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="row event-inner-wrapper">
                    <div class="col-lg-12 col-md-6 col-sm-12 col-xs-6">
                        <mat-card>
                            <mat-card-header class="mat-card-header">
                                <div mat-card-avatar class="header-image"></div>
                                <mat-card-title><strong>Đăng ký hỗ trợ học tập- Trung tâm phần mềm</strong></mat-card-title>
                                <mat-card-subtitle>BÁCH KHOA APTECH</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="content-container">
                                <form method="POST" [formGroup]="repassForm" (ngSubmit)="onFormSubmit()">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="Email">Email:</label>
                                            <input type="Email" class="form-control" disabled [ngModel]="students.Email" formControlName="Email" #Email placeholder="Nhập Email người dùng">
                                        </div>
                                        <div class="form-group">
                                            <label for="OldPassword" class="control-label">Mật khẩu cũ:</label>
                                            <input type="password" name="OldPassword" class="form-control" formControlName="OldPassword" #OldPassword placeholder="Nhập mật khẩu cũ" reverse="true">
                                            <span *ngIf="repassForm.controls['OldPassword'].invalid && (repassForm.controls['OldPassword'].dirty || repassForm.controls['OldPassword'].touched )">
                                              <span *ngIf="repassForm.controls['OldPassword'].errors.required" class="span-alert">
                                                  <strong>Mật khẩu cũ!</strong> không được để trống.
                                              </span>
                                            <span *ngIf="repassForm.controls['OldPassword'].errors.minlength" class="span-alert">
                                                  <strong>Mật khẩu cũ!</strong> không được nhỏ hơn 6 ký tự.
                                              </span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPassword" class="control-label">Mật khẩu mới:</label>
                                            <input type="password" name="NewPassword" class="form-control" formControlName="NewPassword" #NewPassword placeholder="Nhập mật khẩu mới" reverse="true">
                                            <span *ngIf="repassForm.controls['NewPassword'].invalid && (repassForm.controls['NewPassword'].dirty || repassForm.controls['NewPassword'].touched )">
                                              <span *ngIf="repassForm.controls['NewPassword'].errors.required" class="span-alert">
                                                  <strong>Mật khẩu mới!</strong> không được để trống.
                                              </span>
                                            <span *ngIf="repassForm.controls['NewPassword'].errors.minlength" class="span-alert">
                                                  <strong>Mật khẩu mới!</strong> không nhỏ hơn 6 ký tự.
                                              </span>

                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label for="ConfirmPassword">Nhập lại mật khẩu:</label>
                                            <input type="password" class="form-control" formControlName="ConfirmPassword" #ConfirmPassword compare="NewPassword" placeholder="Nhập lại mật khẩu mới">
                                            <span *ngIf="repassForm.controls['ConfirmPassword'].invalid && (repassForm.controls['ConfirmPassword'].dirty || repassForm.controls['ConfirmPassword'].touched )">
                                              <span *ngIf="repassForm.controls['ConfirmPassword'].errors.required" class="span-alert">
                                                  <strong>Mật khẩu xác nhận!</strong> không được để trống.
                                              </span>
                                            <span *ngIf="repassForm.controls['ConfirmPassword'].errors.compare" class="span-alert">
                                                  <strong>Mật khẩu xác nhận!</strong> không khớp với Mật khẩu mới.
                                              </span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary" [disabled]="repassForm.pristine || repassForm.invalid">Submit</button>
                                    </div>
                                </form>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                <div class="sidebar ">
                    <div class="sidebar-box ">
                        <div class="sidebar-box-inner">
                            <h3 class="sidebar-title" style="text-transform: uppercase">danh mục</h3>
                            <ul class="sidebar-categories">
                                <li><a [routerLink]="['/sinh-vien/thong-tin']" routerLinkActive="router-link-active">Thông tin cá nhân</a></li>
                                <li><a href="#">Xem điểm</a></li>
                                <li><a href="#">Số buổi đi học/ nghỉ học</a></li>
                                <li><a href="#">Xem lịch học</a></li>
                                <li><a href="#">Xem lịch thi/ bảo vệ project</a></li>
                                <li><a href="#">Đăng ký thi lại</a></li>
                                <li><a href="#">Thông tin học phí</a></li>
                                <li><a href="#">Xin phép nghỉ học</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End Here -->
