<!-- News Details Page Area Start Here -->
<div class="news-details-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <h1 class="text-uppercase">Thông tin cá nhân</h1>
                    </mat-toolbar-row>
                </mat-toolbar>
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <mat-card>
                                    <form action="" method="POST" enctype="multipart/form-data" (ngSubmit)="onFormSubmit()">
                                        <mat-form-field>
                                            <input [(ngModel)]="students.Name" matInput [formControl]="Name" [errorStateMatcher]="matcher" placeholder="Tên sinh viên:">
                                            <mat-error *ngIf="Name.hasError('required')">
                                                Tên sinh viên: <strong>không được để trống</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker" [formControl]="Birthday" [(ngModel)]="students.Birthday" (dateChange)="getTime()" placeholder="Ngày sinh" disabled>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input type="email" [(ngModel)]="students.Email" matInput [formControl]="Email" appUnique [errorStateMatcher]="matcher" placeholder="Email:">
                                            <mat-error *ngIf="Email.hasError('required')">
                                                Email: <strong>không được để trống</strong>
                                            </mat-error>
                                            <mat-error *ngIf="Email.hasError('isCodeUnique')">
                                                Email: <strong>đã tồn tại!</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Chọn lớp học:</mat-label>
                                            <mat-select matInput [formControl]="ClassName" [(ngModel)]="students.ClassName" [(value)]="students.ClassName">
                                                <mat-option *ngFor="let c of classes" [value]="c.ClassName">{{ c.ClassName }}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="ClassName.hasError('required')">
                                                Lớp: <strong>không được để trống</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input [(ngModel)]="students.Phone" matInput [formControl]="Phone" checkNumber [errorStateMatcher]="matcher" placeholder="Số điện thoại:">
                                            <mat-error *ngIf="Phone.hasError('required')">
                                                Số điện thoại: <strong>không được để trống</strong>
                                            </mat-error>
                                            <mat-error *ngIf="Phone.hasError('invalidNumber')">
                                                Số điện thoại: <strong>phải là số!</strong>
                                            </mat-error>
                                            <mat-error *ngIf="Phone.hasError('isCodeUnique')">
                                                Số điện thoại: <strong>đã tồn tại!</strong>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input [(ngModel)]="students.Address" matInput [formControl]="Address" [errorStateMatcher]="matcher" placeholder="Địa chỉ:">
                                        </mat-form-field>
                                        <label>Ảnh đại diện:</label>
                                        <input type="file" [formControl]="Image" name="Image" id="image" (change)="uploadImage($event)" style="display:none">
                                        <br>
                                        <img [src]="imgURL" style="width: 100px; height: 100px; cursor:pointer" id="avatar" />
                                        <div align="left" class="imagediv">
                                            <span class="visibleimg"></span>
                                        </div>
                                        <div class="pt-10 mt-10">
                                            <label id="example-radio-group-label">Giới tính:</label>
                                            <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="students.Gender" [formControl]="Gender" class="example-radio-group pt-10 mt-10">
                                                <mat-radio-button class="example-radio-button gender" *ngFor="let gender of genders" [value]="gender.id">
                                                    {{ gender.name }}
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>

                                        <mat-card-actions>
                                            <button mat-raised-button color="accent" [routerLink]="['/sinh-vien/thong-tin']" routerLinkActive="router-link-active" matTooltip="Hủy yêu cầu">HỦY</button>
                                            <button mat-raised-button color="primary" class="button" [disabled]="Name.invalid || ClassName.invalid || Email.invalid" type="submit" matTooltip="Gửi yêu cầu"> Lưu lại </button>
                                        </mat-card-actions>
                                    </form>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="sidebar">
                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <h3 class="sidebar-title" style="text-transform: uppercase">danh mục</h3>
                            <ul class="sidebar-categories">
                                <li><a [routerLink]="['/sinh-vien/doi-mat-khau']" routerLinkActive="router-link-active">Đổi mật khẩu</a></li>
                                <li><a href="#">Xem điểm</a></li>
                                <li><a href="#">Số buổi đi học/ nghỉ học</a></li>
                                <li><a href="#">Xem lịch học</a></li>
                                <li><a href="#">Xem lịch thi/ bảo vệ project</a></li>
                                <li><a href="#">Đăng ký thi lại</a></li>
                                <li><a href="#">Thông tin học phí</a></li>
                                <li><a href="#">Xin phép nghỉ học</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End Here -->
